@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0) scale(0.95);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
}

.animate-slideFadeIn {
  animation: slideFadeIn 500ms ease-out forwards;
}

.animate-slideFadeOut {
  animation: slideFadeOut 400ms ease-in forwards;
}

.custom-tooltip {
  background: none !important; /* No background */
  border: none !important;     /* No border */
  color: black !important;     /* Text color */
  font-weight: bold;           /* Bold text */
  font-size: 14px;             /* Font size */
  text-align: center;          /* Text alignment */
  white-space: nowrap;         /* Keep text in one line */
  padding: 0 !important;       /* No padding */
  box-shadow: none !important; /* No shadow */
  transform: rotate(90deg);    /* Rotate the text */
}